
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Assistant", "Mukta Vaani", sans-serif;
    background: linear-gradient(#3AAFDF, #161F62);
    min-height: 100vh;
    margin: 0;
    color: white;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

header #currTime{ font-size: 225%;
}

header #todaysDate{ font-size: 125%; }

header #searchForm{  text-align: right;  }

#searchForm #userInput{
    background: #C2DFE8;
    border-style: none;
    border-radius: 15px;
    padding: 2.5% 10% 2.5% 5%;
    font-size: 100%;
}

header #submitButton{
    background: #39C2EC;
    border-style: none;
    color: white;
    border-radius: 10px;
    font-size: 100%;
    margin-top: 2%;
}

header p{
    margin: 0;
}


#todayInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

#todayInfo p{
    margin: 0;
}

#today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#todayInfo div{
    flex-grow: 1;
}

#today #currentLocation{ font-size: 225%;  }

#today #tempWithF{
    display: flex;
}

#today #tempWithF #fahren{
    padding-top: 10%;
    font-size: 150%;
}

#today #todaysTemp{
    font-size: 600%;
    background: url("Assets/degree-01.png") no-repeat right 20%;
    background-size: 15%;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 1;
}

#today #todaysForecast{ font-size: 125%; }

#todaysWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


#todaysWeather img{
    width: 65%;
    min-width: 150px;
    height: auto;
}

#humidityAndWind{
    display: flex;
    justify-content: flex-start;
}

#humidWindIcons, #humidWindText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 100%;
}

#humidWindIcons{
    align-items: flex-end;
}

#humidWindIcons img{
    width: 10%;
    min-width: 20px;
    height: auto;
}
#humidWindText{
    padding-left: 5%;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

#weatherBox{
    display: flex;
    overflow: hidden;
    flex-basis: 100%;
    width: 90vw;
}


.day {
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex: 1 0 19.5%;
    min-width: 215px;
    max-width: 400px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #3C85B0;
    border-radius: 15px;
}

.day p{  margin: 0;  }

.day .weekDay{  font-size: 200%;  }

.day .dayForecast{  font-size: 125%;  }

.day .icon img{
    width: 100%;
    height: auto;
}

.day .temp{
    display: flex;
    justify-content: space-between;
    font-size: 250%;
    line-height: 1;
    width: 75%;

}

.day .temp p{
    background: url("Assets/degree-01.png") no-repeat 90% 15%;
    background-size: 15%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.day .high{
    font-weight: 900;
}

.day .low{
    font-weight: 100;
}
#arrows{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.arrow{
    display: flex;
    width: 50%;
    align-items: center;
    font-size: 125%;
}


#arrows .arrow button, #arrowButtonDown, #arrowButtonUp{
    border-style: none;
    background-color: transparent;
    outline: none;
    color: #508CBE;
    font-size: 125%;
}


#leftArrow{  justify-content: flex-start;  }
#leftArrow p{
    margin-left: 1%;
}


#rightArrow{  justify-content: flex-end;  }
#rightArrow p{
    margin-right: 1%;
}



.hide{
    visibility: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    background: black;
}

footer img{
    max-width: 135px;
    max-height: 30px;
    min-width: 100px;
    min-height: 25px;
}

#arrowButtonUp, #arrowButtonDown, #submitButtonMobile{
    display: none;
}

@media only screen and (max-width: 480px){
    html, body{
        height: 100%;
        width: 100%;
    }

    #weatherBox{
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .day{
        display: flex;
        flex-direction: column;
        flex-basis: 75vw;
        width: 65%;
        left: 0;
        transition-property: top;
    }

    .arrow, #todaysWeather, #humidityAndWind, #todaysTemp, #todaysForecast, #todaysDate, #submitButton, #humidity, #wind{
        display: none;
    }

    #todayInfo{
        flex: 0;
        margin: 0 2.5% 5% 5%;
    }

    #today{
        align-items: flex-start;
    }

    #today #tempWithF #fahren{
        displaY: none;
    }

    header{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 2.5% 2.5% 5% 5%;
    }

    header #currTime{
        font-size: 10vw;
    }
    header #searchForm{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #searchForm #userInput{
        align-self: center;
        font-size: 3.5vw;
    }

    #today #currentLocation{
        font-size: 7.5vw;
    }

    .day .weekDay{
        font-size: 7.5vw;
    }

    .day .icon img{
        width: 35vw;
        height: auto;
    }

    .day .dayForecast{
        font-size: 5vw;
    }

    .day .temp{
        font-size: 12.5vw;
    }
    footer{
        background: transparent;
    }
    footer img{
        display: none;

    }

    #arrowButtonDown, #arrowButtonUp{
        justify-content: center;
        font-size: 15vw;
    }

    #submitButtonMobile{
        display: flex;
        height: 15vw;
    }

}