body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Ek Mukta', sans-serif;
    background: linear-gradient(#3AAFDF, #161F62);
    min-height: 100vh;
    margin: 0;
    color: white;
    line-height: 1.5;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

header #currTime{
}

header #todaysDate{
}
header #searchForm{
    text-align: right;
}

#searchForm #userInput{
    background: #C2DFE8;
    border-style: none;
    border-radius: 15px;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    max-width: 65%;
}

header p{
    margin: 0;
}


#todayInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#todayInfo div{
    flex: 1;
}

#todayInfo p{
    margin: 0;
}

#today{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #submitButton{
    background: #39C2EC;
    border-style: none;
    color: white;
    border-radius: 10px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#weatherBox{
    display: flex;
    overflow: hidden;
    flex-basis: 100%;
    width: 90vw;
}


.day {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 12.5%;
    position: relative;
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #3C85B0;
    border-radius: 10px;
}

.day p{
    margin: 0;
}

.day .temp{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#arrows{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.arrow{
    display: flex;
    width: 50%;
    align-items: center;
}


#arrows .arrow button, #arrowButtonDown, #arrowButtonUp{
    border-style: none;
    background-color: transparent;
    outline: none;
    color: #508CBE;
}


#leftArrow{  justify-content: flex-start;  }
#leftArrow p{
    margin-left: 1%;
}


#rightArrow{  justify-content: flex-end;  }
#rightArrow p{
    margin-right: 1%;
}



.hide{
    visibility: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    background: black;
}

footer img{
    max-width: 135px;
    max-height: 30px;
    min-width: 100px;
    min-height: 25px;
}

#arrowButtonUp, #arrowButtonDown{
    display: none;
}

@media only screen
and (max-device-width: 1024px)
and (max-device-height: 1366px),
(max-width: 480px){
    #weatherBox{
        flex-direction: column;
        align-items: center;
        flex: 1 1 0;
    }

    .day{
        display: flex;
        flex-direction: column;
        min-height: 175px;
        min-width: 200px;
        left: 0;
        transition-property: top;
    }

    .arrow, #todaysWeather, #humidityAndWind, #todaysTemp, #todaysForecast, #todaysDate, #submitButton, #humidity, #wind{
        display: none;
    }

    #todayInfo{
        flex: 0;
    }

    #today{
        align-items: flex-start;
        margin: 0 8px 8px 8px;
    }

    header{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 8px 8px 0 8px;
    }

    header #searchForm{
        text-align: left;
    }
    footer{
        background: transparent;
    }
    footer img{
        display: none;

    }

    #arrowButtonDown, #arrowButtonUp{
        justify-content: center;
    }
}